= provide(:title, "Notas")
%table
  %thead
    %tr
      %th Primera práctica
      %th Segunda práctica
      %th Tercera práctica
      %th Primer Parcial
      %th Segundo Parcial
      %th Evaluación Permanente
      %th Examen Único
      %th Examen Aplazado
      %th Promedio Final
      %th{:colspan => "3"}
  %tbody
    - @notes.each do |note|
      %tr
        %td= note.first_practice
        %td= note.second_practice
        %td= note.third_practice
        %td= note.first_exam
        %td= note.second_exam
        %td= note.permanent
        %td= note.unique_exam
        %td= note.defer_exam
        %td= note.average
        %td= link_to 'Mostrar', course_student_note_path(id: note.id, course_id: params[:course_id], student_id:params[:student_id])
        %td= link_to 'Editar', edit_course_student_note_path(id: note.id, course_id: params[:course_id], student_id:params[:student_id])
        %td= link_to 'Eliminar', course_student_note_path(id: note.id, course_id: params[:course_id], student_id:params[:student_id]), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'Nueva Nota', new_course_student_note_path, class: 'accion'
