%p
  %strong Primera práctica:
  = @note.first_practice
%p
  %strong Segunda práctica:
  = @note.second_practice
%p
  %strong Tercera práctica:
  = @note.third_practice
%p
  %strong Primer parcial:
  = @note.first_exam
%p
  %strong Segundo parcial:
  = @note.second_exam
%p
  %strong Evaluación permanente:
  = @note.permanent
%p
  %strong Examen único:
  = @note.unique_exam
%p
  %strong Examen aplazadp:
  = @note.defer_exam
%p
  %strong ¨Promedio final:
  = @note.average
= link_to 'Editar', edit_course_student_note_path(@note)
|
= link_to 'Regresar', course_student_notes_path
