= provide(:title, "Notas del estudiante")
%p
  %strong Primera práctica:
  = @note.first_practice
%p
  %strong Segunda práctica:
  = @note.second_practice
%p
  %strong Tercera práctica:
  = @note.third_practice
%p
  %strong Primer parcial:
  = @note.first_exam
%p
  %strong Segundo parcial:
  = @note.second_exam
%p
  %strong Evaluación permanente:
  = @note.permanent
%p
  %strong Examen único:
  = @note.unique_exam
%p
  %strong Examen aplazado:
  = @note.defer_exam
%p
  %strong Promedio final:
  = @note.average

= link_to 'Regresar', cycle_course_path(@note), class: 'accion'
