%p
  %strong Apellidos:
  = @person.lastname
%p
  %strong Nombres:
  = @person.name
%p
  %strong DNI:
  = @person.dni
%p
  %strong Teléfono:
  = @person.phone
%p
  %strong Correo electrónico:
  = @person.email
%p
  %strong Género:
  = @person.gender
%p
  %strong Estado:
  = @person.state
%p
  %strong Rol:
  = @person.rol
= link_to 'Editar', edit_person_path(@person)
|
= link_to 'Regresar', people_path
