= form_for(student) do |f|
  - if student.errors.any?
    #error_explanation
      %h2
        = pluralize(student.errors.count, "error")
        prohibited this student from being saved:
      %ul
        - student.errors.full_messages.each do |message|
          %li= message
  = f.fields_for :person_attributes do |p|
    .field
      = p.label :lastname
      = p.text_field :lastname
    .field
      = p.label :name
      = p.text_field :name
    .field
      = p.label :dni
      = p.text_field :dni
    .field
      = p.label :phone
      = p.text_field :phone
    .field
      = p.label :email
      = p.text_field :email
    .field
      = p.label :gender
      = p.text_field :gender
    .field
      = p.label :state
      = p.text_field :state
    .field
      = p.hidden_field :rol, value: 'Estudiante'
  .field
    = f.label :turn
    = f.text_field :turn
  .actions
    = f.submit
