<p>
  <strong>Lastname:</strong>
  <%= @student.person.lastname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.person.name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @student.person.dni %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.person.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.person.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.person.gender %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.person.state %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @student.turn %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
