<%= form_for(detail_course) do |f| %>
  <% if detail_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail_course.errors.count, "error") %> prohibited this detail_course from being saved:</h2>

      <ul>
      <% detail_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_practice %>
    <%= f.number_field :first_practice %>
  </div>

  <div class="field">
    <%= f.label :second_practice %>
    <%= f.number_field :second_practice %>
  </div>

  <div class="field">
    <%= f.label :third_practice %>
    <%= f.number_field :third_practice %>
  </div>

  <div class="field">
    <%= f.label :first_exam %>
    <%= f.number_field :first_exam %>
  </div>

  <div class="field">
    <%= f.label :second_exam %>
    <%= f.number_field :second_exam %>
  </div>

  <div class="field">
    <%= f.label :permanent %>
    <%= f.number_field :permanent %>
  </div>

  <div class="field">
    <%= f.label :unique_exam %>
    <%= f.number_field :unique_exam %>
  </div>

  <div class="field">
    <%= f.label :defer_exam %>
    <%= f.number_field :defer_exam %>
  </div>

  <div class="field">
    <%= f.label :average %>
    <%= f.text_field :average %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
