<%= form_for(cycle) do |f| %>
  <% if cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% cycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_cycle %>
    <%= f.text_field :name_cycle %>
  </div>

  <div class="field">
    <%= f.label :semester %>
    <%= f.text_field :semester %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
