%h1= "#{@cycle.name} #{@cycle.year}-#{@cycle.semester}"
= link_to 'Editar', edit_cycle_path(@cycle)
-# |
-# = link_to 'Regresar', cycles_path

%br
%br
%br
%h4= link_to 'Gestionar matrículas', new_cycle_enrollment_path(@cycle.id)
%ul
- @cycle.enrollments.each do |e|
  %li= link_to e.voucher, cycle_enrollment_path(@cycle.id, e.id)
%hr
%h4 Cursos
%ul
- @cycle.courses.each do |c|
  %li= link_to c.name, cycle_course_path(@cycle.id, c.id)
  %br
= link_to 'Agregar curso', new_cycle_course_path(@cycle.id)