<p>
  <strong>Name:</strong>
  <%= @cycle.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @cycle.semester %>
</p>

<p>
  <strong>Year:</strong>
  <%= @cycle.year %>
</p>

<%= link_to 'Edit', edit_cycle_path(@cycle) %> |
<%= link_to 'Back', cycles_path %>
