%h1 Reclamos
%table
  %thead
    %tr
      %th Asunto
      %th Mensaje
      %th Documento
      %th{:colspan => "3"}
  %tbody
    - @demands.each do |demand|
      %tr
        %td= demand.subject
        %td= demand.body
        %td= demand.document
        %td= link_to 'Mostrar', demand
        %td= link_to 'Editar', edit_demand_path(demand)
        %td= link_to 'Eliminar', demand, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'Nuevo Reclamo', new_demand_path
