<p>
  <strong>Subject:</strong>
  <%= @demand.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @demand.body %>
</p>

<p>
  <strong>Document:</strong>
  <%= @demand.document %>
</p>

<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>
