%p
  %strong Asunto:
  = @demand.subject
%p
  %strong Mensaje:
  = @demand.body
%p
  %strong Documento:
  = @demand.document
= link_to 'Editar', edit_demand_path(@demand)
|
= link_to 'Regresar', demands_path
