= form_for([@cycle, @enrollment]) do |f|
  - if enrollment.errors.any?
    #error_explanation
      %h2
        = pluralize(enrollment.errors.count, "error")
        prohibited this enrollment from being saved:
      %ul
        - enrollment.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :voucher
    = f.text_field :voucher
  .field
    = f.label :active
    = f.text_field :active
  .field
    = f.label :student_id
    = f.select :student_id, @students.map { |s| [s.person.name + ' ' + s.person.lastname, s.id] }
  .actions
    = f.submit
