%p
  %strong Voucher:
  = @enrollment.voucher
%p
  %strong Active:
  = @enrollment.active
%p
  %strong Student:
  = @enrollment.student.person.name
= link_to 'Edit', edit_cycle_enrollment_path(@enrollment)
|
= link_to 'Back', cycle_enrollments_path
