<p id="notice"><%= notice %></p>

<p>
  <strong>Voucher:</strong>
  <%= @enrollment.voucher %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @enrollment.valid %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
