<p>
  <strong>Lastname:</strong>
  <%= @teacher.person.lastname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.person.name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @teacher.person.dni %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.person.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.person.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.person.gender %>
</p>

<p>
  <strong>State:</strong>
  <%= @teacher.person.state %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @teacher.rank %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
