.login
  .login__container.z-depth-2
    %h4.no-margin Iniciar sesión
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .input-field
        = f.email_field :email, autofocus: true
        = f.label :email, 'Correo electrónico'
      .input-field
        = f.password_field :password, autocomplete: "off"
        = f.label :password, 'Contraseña', class: 'active'
      .form__action
        = f.submit "Ingresar", class: 'btn waves-effect waves-light'
    .login__links
      = render "devise/shared/links"
