= form_for([@cycle, @course]) do |f|
  - if course.errors.any?
    #error_explanation
      %h2
        = pluralize(course.errors.count, "error")
        prohibited this course from being saved:
      %ul
        - course.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :credits
    = f.text_field :credits
  .field
    = f.label :type_evaluation
    = f.text_field :type_evaluation
  .field
    = f.label :hours
    = f.number_field :hours
  .field
    = f.label :teacher_id
    = f.select :teacher_id, @teachers.map { |t| [t.person.name + ' ' + t.person.lastname, t.id] }

  .row.actions
    .col.s12.m6.l5
      %button.btn.waves-effect.waves-light{type: "submit"} Guardar
