= provide(:title, "Curso")
%table
  %thead
    %tr
      %th Nombre
      %th Créditos
      %th Tipo de evaluación
      %th Horas
      %th Docente
      %th Ciclo
      %th{:colspan => "3"}
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td= course.credits
        %td= course.type_evaluation
        %td= course.hours
        %td= course.teacher.person.name
        %td= course.cycle.name
        %td= link_to 'Mostrar', course
        %td= link_to 'Editar', edit_course_path(course)
        %td= link_to 'Eliminar', course, method: :delete, data: { confirm: '¿Está seguro?' }
%br/
= link_to 'Nuevo Curso', new_course_path
