%h4= @course.name
%strong Créditos
= @course.credits
|
%strong Evaluation type:
= @course.type_evaluation
|
%strong Hours:
= @course.hours
|
%strong Teacher:
= @course.teacher.person.name
|
%strong Cycle:
= "#{@course.cycle.name} #{@course.cycle.year}-#{@course.cycle.semester}"
%br
%br
%br
%br
%hr

%table
  %thead
    %tr
      %td Nombre alumno
      %td Primera práctica
      %td Segunda práctica
      %td Tercera práctica
      %td Primer parcial
      %td Segundo parcial
      %td Evaluación permanente
      %td Evaluación única
      %td Aplazado
      %td Promedio
      %td Acción
  %tbody
    - @students.each do |s|
      %tr
        %td= s.person.name
        - if !s.notes.blank?
          %td= s.notes.first.first_practice
          %td= s.notes.first.second_practice
          %td= s.notes.first.third_practice
          %td= s.notes.first.first_exam
          %td= s.notes.first.second_exam
          %td= s.notes.first.permanent
          %td= s.notes.first.unique_exam
          %td= s.notes.first.defer_exam
          %td= s.notes.first.average
          %td= link_to 'Editar', edit_course_student_note_path(@course.id, s.id, s.notes.first.id)
        - else
          %td --
          %td --
          %td --
          %td --
          %td --
          %td --
          %td --
          %td --
          %td --
          %td= link_to 'Añadir nota', new_course_student_note_path(@course.id, s.id)




= link_to 'Edit', edit_course_path(@course)
|
= link_to 'Back', courses_path
