<h1>Executives</h1>

<table>
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Name</th>
      <th>Dni</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Gender</th>
      <th>State</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @executives.each do |executive| %>
      <tr>
        <td><%= executive.person.lastname %></td>
        <td><%= executive.person.name %></td>
        <td><%= executive.person.dni %></td>
        <td><%= executive.person.phone %></td>
        <td><%= executive.person.email %></td>
        <td><%= executive.person.gender %></td>
        <td><%= executive.person.state %></td>
        <td><%= executive.position %></td>
        <td><%= link_to 'Show', executive %></td>
        <td><%= link_to 'Edit', edit_executive_path(executive) %></td>
        <td><%= link_to 'Destroy', executive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Executive', new_executive_path %>
