<h1>Executives</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @executives.each do |executive| %>
      <tr>
        <td><%= executive.position %></td>
        <td><%= link_to 'Show', executive %></td>
        <td><%= link_to 'Edit', edit_executive_path(executive) %></td>
        <td><%= link_to 'Destroy', executive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Executive', new_executive_path %>
