.max-container
  %h2 Mostrar administrativo
  %p
    %strong Lastname:
    = @executive.person.lastname
  %p
    %strong Name:
    = @executive.person.name
  %p
    %strong Dni:
    = @executive.person.dni
  %p
    %strong Phone:
    = @executive.person.phone
  %p
    %strong Email:
    = @executive.person.email
  %p
    %strong Gender:
    = @executive.person.gender
  %p
    %strong State:
    = @executive.person.state
  %p
    %strong Position:
    = @executive.position
  .row
    = link_to 'Edit', edit_executive_path(@executive), class: 'btn waves-effect waves-light col l4'
