<p>
  <strong>Lastname:</strong>
  <%= @executive.person.lastname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @executive.person.name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @executive.person.dni %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @executive.person.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @executive.person.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @executive.person.gender %>
</p>

<p>
  <strong>State:</strong>
  <%= @executive.person.state %>
</p>

<p>
  <strong>Position:</strong>
  <%= @executive.position %>
</p>

<%= link_to 'Edit', edit_executive_path(@executive) %> |
<%= link_to 'Back', executives_path %>
